.sidebar {
  width: 295px;
  position: fixed;
  top: 0;
  bottom: 0;
}
.nav-link {
  &:hover {
    color: #2a8356;
  }
}
.nav-item {
  margin-bottom: 22px;
  position: relative;
  &:hover {
    color: #2a8356;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 4px;
      background-color: #2a8356;
      height: 100%;
      left: -1rem;
    }
  }
}
