html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */

*,*::before,*::after {
  box-sizing: border-box;
}
html,body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 24px;
  line-height: 36px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro-name {
  font-family: Andale Mono, sans-serif;
  font-size: 80px;
  line-height: 90px;
  border-bottom: 2px solid #000000;
  padding-top: 48px;
  padding-bottom: 24px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  border-bottom: 1px solid #000000;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  color: #A00404;
  margin-left: 16px;
}

.skills {
  position: relative;
}

.skills::before {
  content: '';
  position: absolute;
  background-color: #96A9C4;
  right: 0;
  left: 0;
  transform: translateY(25%);
  height: 360px;
  z-index: -1;
}

.skills-content {
  padding: 24px 102px 56px 102px;
}

.skills-content ul {
  margin: 0 auto;
  width: 216px;
}

.dot,
.line {
  position: relative;
}

.dot::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 16px;
  transform: translateY(50%);
  background-color: #96A9C4;
}

.line::before {
  content: '';
  position: absolute;
  width: 1px;
  top: 16px;
  bottom: 16px;
  left: 24px;
  background-color: #96A9C4;
}

.text-p {
  font-size: 20px;
  line-height: 30px;
}

.text-white {
  color: white;
}

.border-white {
  border-bottom: 1px solid white;
}

.bg-dark {
  background-color: #415165;
  color: white;
  border: white;
}

.text-link {
  text-decoration: none;
  display: block;
  color: inherit;
}

.text-center {
  text-align: center;
}

.text-lighter {
  font-weight: lighter;
}

.text-bolder {
  font-weight: bold;
}

.w-50 {
  width: 50%;
}

.px-1 {
  padding: 8px 0;
}

.pl-6 {
  padding-left: 48px;
}

.ml-4 {
  margin-left: 32px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-9 {
  margin-bottom: 72px;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.contact {
  padding: 24px 0 48px 0;
}

.skills-content ul {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
}