html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */

/* base */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

img {
  /* RWD */
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

@media (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 2rem;
  }
}

/* layout */

/* header */
.header {
  padding: 2.5rem 5.5rem;
  justify-content: space-between;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list a {
  display: block;
  font-size: 1.25rem;
  margin-right: 4rem;
}

.header-list a:hover {
  border-bottom: 2px solid white;
}

.header-list li:last-child a {
  margin-right: 0;
}

.ham-icon {
  position: absolute;
  left: 13px;
  display: none;
}

@media (max-width: 992px) {
  .header {
    position: relative;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
  .header-list {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
  }
  .header-list.active {
    max-height: 252px;
  }
  .header-list li a {
    display: block;
    width: 100%;
    text-align: center;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
  }
  .header-list li a:hover {
    background: #8f0400;
  }
  .header-list a {
    padding-right: 2.5rem;
  }
  .ham-icon {
    display: block;
  }
}

/* banner */

.banner {
  background-image: url(./img/banner.png);
  height: 840px;
}

.banner-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 36px;
}

@media (max-width: 992px) {
  .banner-content p {
    font-size: 1.25rem;
  }
}

@media (max-width: 414px) {
  .banner {
    background-image: url(./img/banner-sm.png);
    height: 394px;
  }
  .banner-content p {
    font-size: 1rem;
  }
}

/* about */

.about-list li {
  width: 25%;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-list li:last-child {
  padding-right: 0;
}

.about-list img {
  margin-bottom: 2.5rem;
}

.about-list h4 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  color: #650300;
  font-weight: bolder;
}

@media (max-width: 992px) {
  .about-list {
    flex-wrap: wrap;
  }
  .about-list li {
    width: 46%;
    margin-bottom: 12px;
  }
}

@media (max-width: 414px) {
  .about-list li {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* product */
.product-list li {
  display: flex;
  margin-bottom: 2rem;
}

.product-list img, .p-img {
  width: 50%;
}

.product-list li:nth-child(2) {
  justify-content: space-between;
}

.product-list li:last-child {
  margin-bottom: 0;
}

.product-list h2 {
  font-size: 3rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: bolder;
  margin-left: 1.5rem;
}

.product-list li:nth-child(2) h2 {
  margin-right: 1.5rem;
}

.product-list li:nth-child(2) img {
  width: 100%;
}

.p-img {
  position: relative;
}

.p-img::before {
  content: '';
  background: url("./img/product-2-color.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-size: contain;
}

.p-img:hover::before {
  opacity: 1;
}

@media (max-width: 992px) {
  .product-list li {
    margin-bottom: 0.5rem;
  }
  .product-list h2 {
    font-size: 1.25rem;
    justify-content: center;
  }
  .product-list li:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .product-list li:nth-child(2) h2 {
    margin-right: 0;
  }
}

@media (max-width: 414px) {
  .product-list li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-list h2 {
    color: white;
    position: absolute;
    margin-left: 0;
    z-index: 1;
  }
  .product-list h2 img {
    filter: brightness(500);
  }
  .product-list img, .p-img {
    width: 100%;
  }
  .product-list li:nth-child(2) {
    justify-content: center;
  }
  .product-list li:nth-child(2) h3 {
    z-index: 1;
  }
}

/* others */
.others {
  background-image: url(./img/bg.png);
  padding-bottom: 479px;
}

.others-list li:first-child {
  margin-bottom: 3.75rem;
}

.others-list-item-brand {
  position: relative;
}

.others-list-item-brand::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.others-list span {
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.others-list-item-brand:first-of-type {
  margin-right: 1.875rem;
}

@media (max-width: 992px) {
  .others {
    padding-bottom: 417px;
  }
  .others-list li:first-child {
    margin-bottom: 2.5rem;
  }
  .others-list {
    max-width: 672px;
    margin: 0 auto;
  }
  .others-list span {
    font-size: 32px;
  }
  .others-list span:first-of-type {
    font-size: 40px;
  }
  .others-list-item-brand:first-of-type {
    margin-right: 1.5rem;
  }
}

@media (max-width: 414px) {
  .others {
    padding-bottom: 189px;
  }
  .others-list li:first-child {
    margin-bottom: 1.25rem;
  }
  .others-list {
    max-width: 352px;
    margin: 0 auto;
  }
  .others-list span:first-of-type {
    font-size: 26px;
  }
  .others-list-item-brand:first-of-type {
    margin-bottom: 1.25rem;
    margin-right: 0;
  }
  .others-list li:last-child {
    flex-direction: column;
  }
}

.more {
  align-items: flex-end;
}

.more-img {
  position: relative;
  height: 100%;
  display: flex;
  max-width: 30%;
  transition: all .65s .3s;
  transform: translateX(0px);
  margin-right: 85px;
}

.more-img::before {
  content: "";
  position: absolute;
  background: white;
  top: 8%;
  bottom: 8%;
  left: 10%;
  right: -85px;
}

.more-img span {
  padding: 5px 0 5px 32px;
}

.more span::before {
  content: 'MORE';
  position: absolute;
  transition: all .65s .3s;
  transform: translateY(0px);
}

.more span:hover::before {
  transform: translateY(-85px);
  opacity: .7;
}

.more span::after {
  content: 'MORE';
  position: absolute;
  transition: all .65s .3s;
  transform: translateY(0px);
}

.more span:hover::after {
  transform: translateY(-145px);
  opacity: .4;
}

.more-img:hover img:last-child {
  transform: translateX(15px);
}

@media(max-width: 992px) {
  .more-img {
    margin-right: 49px;
  }
  .more-img::after {
    right: -49px;
  }
}

@media(max-width: 414px) {
  .more {
    align-items: flex-start;
  }
  .more-img {
    margin-right: 0;
  }
  .more-img::after {
    right: 0;
  }
}

/* rec */
.rec {
  margin-top: -398px;
}

.rec-list li {
  width: 25%;
  margin-right: 1.5rem;
  background-color: white;
}

.rec-list img {
  margin-bottom: 1rem;
}

.rec-list-body {
  border: 1px solid #DEE2E6;
  margin-top: -1rem;
}

.rec-list .rec-list-body {
  padding: 1rem;
}

.rec-list-body h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.rec-list-body p {
  margin-bottom: 1rem;
}


@media (max-width: 992px) {
  .rec {
    margin-top: -416px;
  }
  .rec-list {
    flex-wrap: wrap;
  }
  .rec-list li {
    width: 46%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 414px) {
  .rec {
    margin-top: -189px;
  }
  .rec-list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .rec-list img {
    width: 100%;
    height: 256px;
    object-fit: cover;
  }
}

/* contact */

.contact-inner {
  width: 80%;
}

.contact-inner p:first-of-type {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.contact-form-group {
  margin-bottom: 1rem;
}

.contact-form-group input, .contact-form-group textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1rem;
  outline: 0;
}

.contact-form-group input[type=checkbox] {
  width: auto;
  margin-right: 0.25rem;
}

.contact-form-group input::placeholder, .contact-form-group textarea::placeholder {
  color: black;
  opacity: .2;
}

.contact-form .btn {
  background-color: #AA0601;
  color: white;
  width: 180px;
  padding: 1rem;
  display: block;
  text-align: center;
  font-weight: bold;
}

.contact-form .btn:hover {
  background-color: #650300;
}

@media(max-width: 414px) {
  .contact-inner p:first-of-type {
    font-size: 1rem;
  }
  .contact-form-group input, .contact-form-group textarea {
    padding: 7px 12px;
  }
}

/* footer */
.footer {
  padding: 2.5rem 0;
  background: #aa0601;
  color: #ffffff;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid white;
}

.footer-info-map {
  margin-bottom: 2rem;
  display: flex;
}


.footer-info-map-item {
  padding-right: 3rem;
}


.footer-info-map-item:last-child {
  padding-right: 0;
}

.footer-info-contact {
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
}


.footer-info-social-item {
  padding-right: 2rem;
}
.footer-copyright-item {
  align-items: center;
}
.footer-copyright-link {
  margin-right: 3.875rem;
}

.footer-copyright-link:last-of-type {
  margin-right: 0;
}

@media (max-width: 992px) {
  .footer img {
    width: 24px;
    height: 24px;
  }
  .footer-info-map {
    margin-bottom: 1.5rem;
    display: none;
  }
  .footer-info-map-item {
    padding-right: 2.5rem;
  }
  .footer-info-contact {
    font-size: 1.25rem;
  }
  .footer-info-social-item {
    padding-right: 1.5rem;
  }
  .footer-copyright-link {
    margin-right: 3rem;
  }
}

@media (max-width: 414px) {
  .footer {
    padding: 1.5rem 0;
  }
  .footer-info {
    margin-bottom: 1rem;
  }
  .footer-info-contact {
    font-size: 1rem;
  }
  .footer-info-contact img {
    width: 13px;
    height: 13px;
  }
  .footer-copyright-list {
    flex-direction: column;
    background-image: url("./img/logo.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 46px 27px;
  }
  .footer-copyright-item {
    flex-direction: column;
    align-items: normal;
  }
  .footer-copyright-item img{
    display: none;
  }
}

.title {
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 3.75rem;
  color: #650300;
  font-weight: bolder;
  text-align: center;
}

@media (max-width: 992px) {
  .title {
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 414px) {
  .title {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

.text-bolder {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}
.text-gray {
  color: #707070;
}


.text-primary {
  color: #650300;
}

.text-secondary{
  color: #AA0601;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-dark {
  background-color: #AA0601;
  color: white;
}

.bg-light {
  background-color: #AA06010D;
}


/* utils class */

/* flex */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-baseline {
  align-items: baseline;
}
.align-items-center{
  align-items: center;
}

.pb-10 {
  padding-bottom: 5rem;
}

@media (max-width: 992px) {
  .pb-10 {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 414px) {
  .pb-10 {
    padding-bottom: 1.5rem;
  }
}

.mb-1 {
  margin-bottom: 0.5rem;
}

@media(max-width: 414px) {
  .mb-1 {
    margin-bottom: 0.125rem;
  }
}

/* .mb-5 {
  margin-bottom: 40px;
} */

.mr-1 {
  margin-right: 8px;
}

@media(max-width: 414px) {
  .mr-1 {
    margin-right: 0.125rem;
  }
}

/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 672px;
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 352px;
  }
}