<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- My CSS -->
    <link rel="stylesheet" href="./assets/style/all.css">
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <nav class="sidebar bg-primary">
    <div class="container">
      <h1 class="text-hide my-7"
        style="background-image: url('./assets/images/logo-ANSWER.svg');height: 38px;background-repeat: no-repeat;">
        <a
          href="index.html">ANSWER</a></h1>
      <!-- nav -->
      <ul class="nav flex-column mb-auto font-weight-bold">
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">insert_chart</i>
          <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">forum</i>
          <a class="nav-link" href="#">Question</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">assignment</i>
          <a class="nav-link" href="index.html">Assignment</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">video_library</i>
          <a class="nav-link" href="#">Course</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">supervisor_account</i>
          <a class="nav-link" href="admin.html">Admin</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">settings</i>
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>

      <div class="mt-auto d-flex">
        <img class="rounded-circle mr-2" width=40 height=40 src="./assets/images/andychen.jpeg" alt="">
        <div>
          <h5 class="mb-1">Andy Chen</h5>
          <small class="text-secondary">andy0401@mail.com</small>
        </div>
      </div>
    </div>
  </nav>

  <%- contents %>



  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>