a{
  color: black;
}
// .wrap {
//   height: 100%;
//   overflow: hidden;
//   width: 100%;
// }
.sidebar {
  width: 295px;
  position: fixed;
  top: 0;
  bottom: 0;
}
.main{
  margin-left: 295px;
  min-height: 100vh;
  overflow: hidden;
}

